
<% images.forEach(function(images) { %>
    <div class="infoGalery">
        <img src="../content/<%= images.miniature %>"  onclick="galeryModal('<%= images.url %>', '<%= images.author %>', '<%= images.description %>', '<%= idiom %>')" alt="">
    </div>
<% }); %>