<% productions.forEach(function(productions) { %>
    <a href="/<%= idiom %>/produccion?template=<%= productions.template %>&id=<%= productions.id %>">
        <div class="infoProduction">
            <img src="../images/<%= productions.mainImage %>" alt="">
            <p><%= productions.name %></p>
            <p><%= productions.format %></p>
            <p><%= productions.year %> </p>
        </div>
    </a>
<% }); %>