<% if(productions.length > 0){ %>
    <% productions.forEach(function(productions) { %>
        <a href="/<%= idiom %>/produccion?id=<%= productions.id %>">
            <div class="infoProduction">
                <img src="../content/<%= productions.miniature %>" alt="">
                <p><%= productions.name %></p>
                <p><%= productions.format %></p>
                <p><%= productions.year %> </p>
            </div>
        </a>
    <% }); %>
<% }else{ %>
    <h1>Nothing Here</h1>
<% } %>