<!--  
    Documento creado para la secciones de editar las producciones del dashboard,
    Aque podran ver a los personajes de la produccion.
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="../css/editProductionsDashboardHeader.css">
    <link rel="stylesheet" href="../css/productionsDashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="containerLayout">
        <%- include('./layout/index.ejs') %>
    </div>
    <div class="infoDashboard">
        <div>
            <%- include('./partials/productionsDashboardCreateAndEdit.ejs') %>
        </div>

        <div class="containerProductions">
            <div class="newProductions">
                <a href="/dashboard/crearProduccionPersonajes?idProd=<%= idProd %>"><img src="../images/icoAddProduction.svg" alt=""></a>
            </div>
            <div class="newProductions" style="right: 6%;">
                <a href="/dashboard/editarTextCharacter?idProd=<%= idProd %>"><img src="../images/edit_note.svg" alt=""></a>
            </div>
            <div class="titleProductions">Personajes</div>
            <p style="margin-bottom: 2%;"><%= dataB %></p>
            <div class="contentProductions">
                <% data.forEach(function(data) { %>
                    <div class="infoProduction" id="row-<%= data.id %>">
                        <img src="../content/<%= data.url %>" alt="">
                        <div class="icons">
                            <div class="iconsImgEdit">
                                <a href="/dashboard/editarProduccionPersonajes?idProd=<%= idProd %>&id=<%= data.id %>"><img src="../images/editCrud.svg" alt="" > </a>
                            </div>
                            <div class="iconsImgDelete">
                                <img src="../images/deleteCrud.svg" alt=""  onclick="deleteAlert(<%= data.id %>, 'character')">
                            </div>
                        </div>
                        <p><%= data.name %></p>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    </body>
</html>


<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>