<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="../css/galeryDashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="containerLayout">
        <%- include('./layout/index.ejs') %>
    </div>
    <div class="infoDashboard">
        <div class="conatinerGalery">
            <label for="newImage">
                <div class="newGalery">
                    <img src="../images/icoAddGalery.svg" alt="">
                </div>
            </label>
            <button id="newImage" onclick="location.href = '/dashboard/galeryAdd';"></button>

            <div class="titleGalery">
                Galería
            </div>
            <div class="contentGalery">
                <% images.forEach(function(images) { %>
                    <div class="imgGalery" id="row-<%= images.id %>">
                        <img src="../content/<%= images.miniature %>" alt="" onclick="galeryModal('<%= images.url %>', '<%= images.author %>', '<%= images.descEn %>', '<%= images.descEs %>')">
                        <div class="iconsImg">
                            <img src="../images/deleteCrud.svg" alt=""  onclick="deleteAlert(<%= images.id %>, 'galery');">
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>
<script src="../js/general/addAlertModal.js"></script>
<script src="../js/general/AddGaleryModal.js"></script>
<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>
<script type="module" src="../js/general/modules/galeryModal.mjs"></script>
