<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../css/userDashboard.css">
    <title>Dashboard</title>
    <style>
        td img{
            width: 40%;
        }
    </style>
</head>
<body>
    <div class="containerLayout">
        <%- include('./layout/index.ejs') %>
    </div>
    <div class="infoDashboard">
        <div class="containerCurdUsers">
            <div class="contentCrudHeader">
                <div class="titleUsers">
                    Estrenos
                </div>
                <div class="newUser">
                    <a href="/dashboard/premieresAdd"><button>Nuevo Estreno</button></a>
                </div>
            </div>


            <div class="contentCrudUsers">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Título</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Personaje</th>
                            <th scope="col">Idioma</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let num = 1; %>
                        <% data.forEach(function(data) { %>
                            <% date = data.date; date = date.substr(0,10);%>
                            <tr id="row-<%= data.id %>">
                                <th scope="row"><%= num %></th>
                                <td><%= data.title %></td>
                                <td><img src="../content/premieres/<%= data.image %>"></td>
                                <td><img src="../content/premieres/<%= data.characters %>"></td>
                                <td><%= data.language %></td>
                                <td><%= data.description %></td>
                                <td><%= date %></td>
                                <td>
                                    <div class="containerIcons">
                                        <div class="editUser">
                                            <a href="/dashboard/editarEstreno?id=<%= data.id %>""><img src="../images/editCrud.svg" alt="" > </a>
                                        </div>
                                        <div class="deleteUser" id="alert"> 
                                            <img src="../images/deletecrud.svg" onclick="deleteAlert(<%= data.id %>, 'premieres')">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% num++ %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>


<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>