<!--
- Fecha de creación:  1/12/2022
- Por: Adrian camilo guerra polo
- El estilo se toma del archivo productionEspc.css
- Html para una produccion en especifico.
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Production</title>
    <link rel="stylesheet" href="../css/productionEspc.css" />
    
</head>
<body>
    <header-banacuaco languaje="<%= idiom %>"></header-banacuaco>

    <div class="containerProduction">
        <div class="imgHome">
            <img src="../content/<%= production.mainImage %>" alt="" />
        </div>

        <div class="title">
            <p>Synopsis</p>
        </div>


        <div class="textSinopsis">
            <p><%= production.synopsis %></p>
        </div>

        <div class="containerInfoServices">
            <div class="franjaServices">
                <div class="contentInfo">
                    <div class="imgService desktop">
                        <iframe width="350" height="196" src="<%= production.urlVideo %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            

            <div class="idea">
                <h3>Idea</h3>
                <div class="imgidea">
                    <% ideaImages.forEach(function(ideaImages) { %>
                        <img src="../content/<%= ideaImages.url %>" alt="">
                    <% }); %>
                </div>
                
            </div>

                <div class="franjaServices degArts">
                    <div class="contentInfo degContentArts">                      
                        <div class="textInfo">
                            <div class="titleChart">
                                <h3>Characters</h3>
                            </div>

                            <div class="imgChart">
                                <div class="fleximg">
                                    <% charactersSection.forEach(function(charactersSection) { %>
                                        <img src="../content/<%= charactersSection.url %>" alt="">
                                    <% }); %>
                                </div>
                            </div>
                            <% var i = 0; %>
                            <% characters.forEach(function(characters) { %>
                                <% var images = characters.images %>
                                <% if(i%2==0){%>
                                    <div class="containerDescriptionA reverse">
                                        <div class="contentDescriptionA ">
                                            <div class="txtA">
                                                <h3><%= characters.name %></h3>
                                            </div>
                                            <div class="contentA">
                                                <p><%= characters.description %></p>
                                            </div>
                                        </div>
                                        <div class="imgA">
                                            <% images.forEach(function(images) { %>
                                                <img src="../content/<%= images %>" alt="">
                                            <% }); %>   
                                        </div>
                                    </div> 
                                <% }else{ %>    
                                    <div class="containerDescriptionA">
                                        <div class="contentDescriptionA">
                                            <div class="txtA">
                                                <h3><%= characters.name %></h3>
                                            </div>
                                            <div class="contentA ">
                                                <p><%= characters.description %></p>
                                            </div>
                                        </div>
                                        <div class="imgA">
                                            <% images.forEach(function(images) { %>
                                                <img src="../content/<%= images %>" alt="">
                                            <% }); %>   
                                        </div>
                                    </div>   
                                <% } %>   
                            <% i++; }); %>                                        
                        </div>
                    </div>
                </div>

                <div class="containerMoreInfo">
                    <div class="title">
                        <p>Background</p>
                    </div>

                    <div class="imgAFondo">
                        <% fondos.forEach(function(fondos) { %>
                            <% imagesFondos = fondos.url %>  
                            <% imagesFondos.forEach(function(imagesFondos) { %>
                                <img src="../content/<%= imagesFondos %>" alt="">
                            <% }); %>
                        <% }); %>
                    </div>

                    <div class="title">
                        <p>Story illustrations</p>
                    </div>
                    
                    <div id="illustrations">
                        <% illustrations.forEach(function(illustrations) { %>
                            <% let imagesIllustration = illustrations.url %>
                            <div class="textSinopsis">
                                <p><%= illustrations.body %></p>
                            </div>
                            <div class="containerGalery">
                                <div class="contentGalery">
                                    <% imagesIllustration.forEach(function(imagesIllustration) { %>
                                        <div class="infoGalery">
                                            <img src="../content/<%= imagesIllustration %>" alt="">
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>      
    </div>
    
    <social-banacuaco></social-banacuaco>
    <footer-Banacuaco></footer-Banacuaco>
</body>
</html>
<script type="text/javascript" src="../js/general/closeMenu.js"></script>
<!--
    alerta modal
-->
<script type="text/javascript" src="../js/general/es-en.js"></script>
<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndSocialMedia.mjs"></script>