<!--
- Fecha de creación:  5/12/2022
- Por: Adrian camilo guerra polo
- El estilo se toma del archivo productionEspc2.css
- Html para una produccion en especifico.
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Produccion</title>
    <link rel="stylesheet" href="../css/productionEspc2.css" />
    
</head>
<body>

    <header-banacuaco languaje="<%= idiom %>"></header-banacuaco>

    <div class="containerProduction">
        <div class="imgHome">
            <img src="../content/<%= production.mainImage %>" alt="" />
        </div>

        <div class="titleCharacters">
            <h3>Sinopsis</h3>
        </div>


        <div class="txt">
            <p><%= production.synopsis %></p>
        </div>

        <div class="containerInfoServices">
            <div class="backgraund">
                <div class="content">
                    <div class="fondo">
                        <img src="../images/barraLateral.png" alt="">
                            <div class="imgService">
                                <iframe width="350" height="196" src="<%= production.urlVideo %>" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                    </div>                  
                </div>
            </div>         
        </div>
        
        <div class="characters">
            <div class="titleCharacters">
                <h3>Personajes</h3>
            </div>
            <div class="imgInit">
                <% charactersSection.forEach(function(charactersSection) { %>
                    <img src="../content/<%= charactersSection.url %>" alt="">
                <% }); %>
                <!-- <img src="../images/Grupo - Bocetos 2 fondo blanco.jpg" alt="">
                <img src="../images/Grupo - Bocetos 3 fondo blanco nombres.jpg" alt=""> -->
            </div>
            <div class="txt">
                <p><%= production.charactersSection %></p>
            </div>
        </div>
    <div class="containercharacters">
        <% characters.forEach(function(characters) { %>
            <div class="charactersEscp">
                <div class="imgcharactersEscp">
                    <img src="../images/<%= characters.images %>" alt="">
                </div>
                <div class="containertxt">
                    <div class="txtName">
                        <h3 style="color: #<%= characters.color %>"><%= characters.name %></p></h3>
                    </div>
                    <div class="charactersContent">
                        <p><%= characters.description %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

            <div class="containerGalery">
                <div class="title">
                    <p>Fondos</p> 
                </div> 
                <% fondos.forEach(function(fondos) { %>
                    <% imagesFondos = fondos.url %>
                    <div class="txtGalery">
                        <p><%= fondos.body %></p>
                    </div>  
                    <div class="contentGalery">
                    <% imagesFondos.forEach(function(imagesFondos) { %>
                        <div class="infoGalery">
                            <img src="../content/<%= imagesFondos %>" alt="">
                        </div>
                    <% }); %>
                    </div>
                <% }); %>
            </div>      
    
            <div class="containerGalery">
                <div class="title">
                    <p>Fauna</p> 
                </div> 
                <% fauna.forEach(function(fauna) { %>
                    <% imagesFauna = fauna.url %>
                    <div class="txtGalery">
                        <p><%= fauna.body %></p>
                    </div>  
                    <div class="contentGalery">
                    <% imagesFauna.forEach(function(imagesFauna) { %>
                        <div class="infoGalery">
                            <img src="../content/<%= imagesFauna %>" alt="">
                        </div>
                    <% }); %>
                    </div>
                <% }); %>
            </div>   

            <div class="title">
                <p>Ilustraciones</p>
            </div>
            <div id="illustrations">
                <% illustrations.forEach(function(illustrations) { let illustrationsImages = illustrations.url; let i = 0 %>
                    <div class="textSinopsis">
                        <p><%= illustrations.body %></p>
                    </div>
                    <div class="containerGalery">
                        <% illustrationsImages.forEach(function(illustrationsImages) { %>
                            <% if(i == 0){ i++;%>
                                <div class="contentGalery">
                                    <div class="infoGalery">
                                        <img src="../content/<%= illustrationsImages %>" alt="">
                                </div>
                            <% }else{ %>   
                                <div class="infoGalery">
                                    <img src="../content/<%= illustrationsImages %>" alt="">
                                </div>
                            <% }; %>
                        <% }); %>
                    </div>
                <% }); %>
            </div>

        <social-banacuaco></social-banacuaco>
    </div>
    
    <footer-Banacuaco></footer-Banacuaco>
</body>
</html>

<!--
    alerta modal
-->
<script type="text/javascript" src="../js/general/es-en.js"></script>
<script type="text/javascript" src="../js/general/closeMenu.js"></script>
<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>
